In python the string data type represent the whole numbers data without fractional component.

# integer creation using user input

In [2]:
a=int(input('enter any number'))
a

enter any number 3623

3623

In [3]:
type(a)

int

In [4]:
b=input('enter any number')
b

enter any number 26

'26'

In [5]:
type(b)

str

In [6]:
c=input('enter any number')

enter any number 11

In [7]:
type(c)

str

# From above output it is clear that the user input function give default string data type
if we need integer data we have to convert it into integer by using 'int()' .

In [8]:
b=int(b)
b

26

In [9]:
type(b)

int

# Basic Arithmatic Operations

In [11]:
#  Addition

q=int(input('enter first number'))
w=int(input('enter second number'))
e=q+w
e

enter first number 26
enter second number 11

37

In [12]:
#  Substraction

r=int(input('enter first number'))
t=int(input('enter second number'))
p=r-t
p

enter first number 26
enter second number 11

15

In [13]:
#  Multiplication

y=int(input('enter first number'))
u=int(input('enter second number'))
i=y*u
i

enter first number 26
enter second number 11

286

In [14]:
#  Power of number

o=int(input('enter any number'))
p=int(input('enter second number'))
a=o**p
a

enter any number 26
enter second number 2

676

In [15]:
#  Devision

s=int(input('enter any number'))
k=int(input('enter any number'))
j=s/k
j

enter any number 26
enter any number 13

2.0

In [16]:
#  Remainder

g=int(input('enter first number'))
h=int(input('enter second number'))
f=g%h
f

enter first number 35
enter second number 5

0

In [17]:
#  Quotiont

k=int(input('enter first number'))
s=int(input('enter second number'))
d=k//s
d

enter first number 11
enter second number 2

5

In [18]:
#  Greater than , less than operations

c=int(input('enter first number'))
v=int(input('enter second number'))
b=c>v
b

enter first number 26
enter second number 11

True

In [19]:
n=int(input('enter first number'))
m=int(input('enter second number'))
qd=n<m
qd

enter first number 26
enter second number 11

False

In [39]:
#  Checking equality
we=int(input('enter first number'))
er=int(input('enter second number'))
rt=we==er
rt

enter first number 26
enter second number 11

False

In [41]:
sd=int(input('enter first number'))
kj=int(input('enter second number'))
sk=sd==kj
sk

enter first number 11
enter second number 11

True

In [43]:
#  Checking inequality
sk=int(input('enter first number'))
sj=int(input('enter second number'))
skj=sk!=sj
skj

enter first number 26
enter second number 11

True

# Logic gates for boolean data

# Logic gates are used for the boolean data that is the data which is in the form of
'Zero' and 'One' only
So let us understand first the basic gates.

In [52]:
# AND(&) gate. It needs all the values 'ONE' to get output 'ONE'. It is a multivariable gate
a=0
b=1
c=a&b
c

0

In [54]:
# OR(/) gate. It needs at least single value 'ONE' to get output 'ONE'. It is a multivariable gate.
a
b
a/b

0.0

In [56]:
# XOR(^) gate. It gives 'ONE' in output when only single value is 'ONE' if both values are
# either 'ONE' or 'ZERO' the output will be zero. It is a multivariable gate.
a^b

1

In [58]:
# NOT gate (~). It is a complementry gate that means if you give 'ONE' in input
# you will gate 'ZERO' in the output and viceversa. It is a single variable gate. It gives
# result in 'int' from
k=1
~k

-2

# Float Data

# in python the string data type represent the whole munbers data with fractonal component.
# you can do all the arithmatic operations on float like int.

In [61]:
height=float(input('enter your height'))
height
type(height)

enter your height 155

float

# Built in function for 'int' and 'float'

In [64]:
# round() this function coverts the float into the nearest int.
a=float(input('Enter any number'))
b=round(a)
b

Enter any number 11.26

11

In [66]:
c=float(input('enter any number'))
d=round(c)
d

enter any number 155.75

156

In [68]:
# abs() this function the absolute value of the integer.
e=int(input('enter any number'))
abs(e)

enter any number -26

26

In [70]:
# abs()
f=-26
abs(f)

26

# abs() function does not work on user input when the user input is taken only as input()
because in user input the default data type is string.

In [72]:
n=input('enter any number')
abs(n)

enter any number -11

TypeError: bad operand type for abs(): 'str'

In [76]:
# pow() this function returns the power of the first number indexed by second number
a=int(input('enter first number'))
b=int(input('enter second number'))
c=pow(a,b)
c

enter first number 11
enter second number 2

121

In [82]:
a=int(input('enter first number'))
b=int(input('enter second number'))
c=pow(a,b)
c

enter first number 26
enter second number 2

676

In [84]:
# divmod() this function returns the tuple containing the value pf quotiont and ramainder
# by dividing the two integers.
s=int(input('enter any number'))
k=int(input('enter any number'))
j=divmod(s,k)
j

enter any number 26
enter any number 11

(2, 4)

In [86]:
p=int(input('enter any number'))
q=int(input('enter any number'))
m=divmod(p,q)
m

enter any number 24
enter any number 2

(12, 0)

In [90]:
# max() and min() which gives the maximum and minimum number from the given numbers.
a=int(input('enter first number'))
b=float(input('enter second number'))
c=int(input('enter third number'))
d=float(input('enter fourth number'))
e=max(a,b,c,d)
print(e)
f=min(a,b,c,d)
print(f)

enter first number 11
enter second number 11.36
enter third number 26
enter fourth number 26.23

26.23
11