To create list in python the square brackets [] are used. 
In python list is used to store multiple values in a single variable, which are accesable through the proper command. 
List can be used to store the various data type.
e.g - int, string, boolean etc.
List can be have mixed data type.

# List Creation

In [2]:
s=[26,11,36,23,12]
s

[26, 11, 36, 23, 12]

In [3]:
d=['Sweety','Govind','Dhas']
d

['Sweety', 'Govind', 'Dhas']

In [4]:
k=['sweety',11,'nov',2000]
k

['sweety', 11, 'nov', 2000]

# Nasted list

Nasted list means list of list.

In [6]:
j=[26,11,36,['Keshav','Joshi']]
j

[26, 11, 36, ['Keshav', 'Joshi']]

In [7]:
type(j)

list

# List Methods

## 1. Append
 The append method adds the new element as last element of the given list if append is used to add list to another list then the list which you want to add becomes the single element of that list.

In [10]:
list_1=['Sweety','Govind','Dhas',11,'Nov',2000]
list_1

['Sweety', 'Govind', 'Dhas', 11, 'Nov', 2000]

In [11]:
list_2=['Keshav','Mahesh','Joshi',26,'Feb',2001]
list_2

['Keshav', 'Mahesh', 'Joshi', 26, 'Feb', 2001]

In [12]:
list_1.append('girl') # which adds the 'girl' at the end of list_1.

In [13]:
list_1

['Sweety', 'Govind', 'Dhas', 11, 'Nov', 2000, 'girl']

In [14]:
list_2.append('boy') # which adds the 'boy' at the end of list_2

In [15]:
list_2

['Keshav', 'Mahesh', 'Joshi', 26, 'Feb', 2001, 'boy']

In [16]:
list_1.append('boy')
list_1

['Sweety', 'Govind', 'Dhas', 11, 'Nov', 2000, 'girl', 'boy']

In [17]:
list_2.append('girl')
list_2

['Keshav', 'Mahesh', 'Joshi', 26, 'Feb', 2001, 'boy', 'girl']

In [18]:
# To add the list_2 as element to the list_1
list_1.append(list_2)
list_1

['Sweety',
 'Govind',
 'Dhas',
 11,
 'Nov',
 2000,
 'girl',
 'boy',
 ['Keshav', 'Mahesh', 'Joshi', 26, 'Feb', 2001, 'boy', 'girl']]


i.e list_2 is now the sinlge element of list_1
  append is the method so whenever append is used for any list 
the respective changed are
  made in the original list. i.e when we call for original list the changed / modified list.
 will appears in the output.

In [19]:
list_3=['s','w','e','e','t','y']
list_3.append('j')
list_3

['s', 'w', 'e', 'e', 't', 'y', 'j']

In [20]:
list_4=['k','e','s','h','a','v']
list_4
list_4.append(list_3)
list_4

['k', 'e', 's', 'h', 'a', 'v', ['s', 'w', 'e', 'e', 't', 'y', 'j']]

# 2.Extend

Extend also adds the new element like append but the difference is that extend method expands the given list. If extend is used to add one list to another it adds the all elements of second list to the first list. i.e all elements of the second list are now elements of the first. That means it does not add the whole list as a single element of the given list.

In [22]:
list_5=[11,11,2000]
list_5.extend('Sweety')
list_5

[11, 11, 2000, 'S', 'w', 'e', 'e', 't', 'y']

In [23]:
list_6=[12,13,14,15]
list_7=[16,17,18,19]
list_6.extend(list_7)
list_6

[12, 13, 14, 15, 16, 17, 18, 19]

# Extend list with the non list elements

 Suppose a list is given and we want to add non listed element like 0,1,2 etc in the list then the following method is used.

In [25]:
a=[1,2,3,4,5,6,7,8,9]
a.extend(range(3)) # this will add three index starting from zero.
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2]

In [26]:
a.extend(range(5))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 0, 1, 2, 3, 4]

In [27]:
a.extend(range(2:5)) # range function cannot have 2 parameters.
a

SyntaxError: invalid syntax (2069093222.py, line 1)

# Extend list using "+" operator

In [54]:
k=['Sweety']
j=['Govind','Dhas']
m=k+j
m

['Sweety', 'Govind', 'Dhas']

In [56]:
l=k-j # '-' operator is not supported in the list
l

TypeError: unsupported operand type(s) for -: 'list' and 'list'

# Index

Gives the element in the list at the given index or at a given position.

In [58]:
x=['skj','dsjhdiu','asgys','wgdi','whuwsd','ftvs','dguytd','dyeg','sytd']
x

['skj', 'dsjhdiu', 'asgys', 'wgdi', 'whuwsd', 'ftvs', 'dguytd', 'dyeg', 'sytd']

In [60]:
x[0] # gives the first element of the list because the indexing always starts with the zero th
# index and in python zero th index means the first position element.

'skj'

In [62]:
x[9] # here output will show the error that is 'index error' which means somthing is wrong with
# the indexing and if we give index which is not exist that high index then it shows the 'list'
# index out of range

IndexError: list index out of range

In [64]:
# If we want to find length of a given list
len(x)

9


In above example the length of a list is 9 and we have given an input as x[9] that means the 10th element in the list which doesn't exist therefore the index error occurs.

In [66]:
x

['skj', 'dsjhdiu', 'asgys', 'wgdi', 'whuwsd', 'ftvs', 'dguytd', 'dyeg', 'sytd']

In [68]:
x[-1] # reverse indexing starts from -1. i.e if we call x[-1] it shows the last element of list.

'sytd'

In [70]:
x[-2]

'dyeg'

In [72]:
x[-9]

'skj'

In [74]:
x[-10] # again length of given list is 9 and we used reverse indexing so the max index is -9.
# So the above input again shows the 'index error'.

IndexError: list index out of range

In [76]:
# display the output as 'Sweety',11,'Nov'
o=[45,73,65,87,26,36,['Sweety',11,'Nov',2000]]
o

[45, 73, 65, 87, 26, 36, ['Sweety', 11, 'Nov', 2000]]

In [78]:
o[6][0:3]

['Sweety', 11, 'Nov']


 Here the list contains again a list but it is a single element of list 'o' and its index is 6 so if we want to find the index within the 6th index we have to give it in the saperate bracket. Here we want to find 3 elements of 6th index so we starts from 0 and end with 3.

In [80]:
# Solve the same problem using reverse operator

In [82]:
o

[45, 73, 65, 87, 26, 36, ['Sweety', 11, 'Nov', 2000]]

In [84]:
o[-1][0:3]

['Sweety', 11, 'Nov']

In [86]:
o[-1][-4:-1]

['Sweety', 11, 'Nov']

Note: remember that in the indexing the last index is always excluded.

In [88]:
o(7) # It will give the type error because the list elements are not callable.

TypeError: 'list' object is not callable

In [90]:
o.index(45)

0

# Inserting value at specific position

In [93]:
o

[45, 73, 65, 87, 26, 36, ['Sweety', 11, 'Nov', 2000]]

In [95]:
# insert value 11 before the 26 in the given list

In [97]:
o.insert(4,11)
o

[45, 73, 65, 87, 11, 26, 36, ['Sweety', 11, 'Nov', 2000]]


To insert any specific value in any position in the list just give the index where you want to
add the new element and the element that you want to add to the 'insert' method.

In [99]:
o.insert([7][0],'Keshav')
o

[45, 73, 65, 87, 11, 26, 36, 'Keshav', ['Sweety', 11, 'Nov', 2000]]

Here the 'Keshav' is added at the 7th position but we want add it before the 'Joshi'

In [101]:
o[8].insert(0,'keshav')
o

[45, 73, 65, 87, 11, 26, 36, 'Keshav', ['keshav', 'Sweety', 11, 'Nov', 2000]]


 So from the above example it is cleared that if you want to add any element or object in the list of list then first you have to give the index of the list which is the part of another list and then use the insert method.

In [103]:
# add Dhas after the Sweety in the given list

In [105]:
o # Calling the given list

[45, 73, 65, 87, 11, 26, 36, 'Keshav', ['keshav', 'Sweety', 11, 'Nov', 2000]]

In [107]:
o.index('Keshav') # finding the position of the list which is the part of another list

7

In [109]:
o[8].insert(2,'Dhas') # inserting the 'Dhas' at the index '2' which is after the 'Sweety'.
o

[45,
 73,
 65,
 87,
 11,
 26,
 36,
 'Keshav',
 ['keshav', 'Sweety', 'Dhas', 11, 'Nov', 2000]]

# Removing the element or object of list using 'pop'

list.pop(index of object that you want to remove). If you give empty brackets then it automatically removes the last element or object.

In [112]:
list=['Sweety','Govind','Dhas',11,'Nov',2000,2001]
list

['Sweety', 'Govind', 'Dhas', 11, 'Nov', 2000, 2001]

In [114]:
list.pop() # default pop index is last. i.e even if it is not given the index of last element
# In the list it removes the last element if empty brackets are given.
list

['Sweety', 'Govind', 'Dhas', 11, 'Nov', 2000]

In [116]:
list.pop(2) # the element having index 2 is get removed. 
list

['Sweety', 'Govind', 11, 'Nov', 2000]

In [118]:
list.pop('Sweety') # pop method works on indexing if you don't know the index of the element 
# that you want to remove then you can't use the 'pop'. It gives type error.

TypeError: 'str' object cannot be interpreted as an integer

In [120]:
list.pop(100) # if the index which is not in the list is given then it gives the 'index error'
# which tells us that the index is out of range.
list

IndexError: pop index out of range

# Using 'Remove'

list.remove(object of list) this is the general representation of remove method. It does not works on the indexing. i.e if you want to remove object in the list then you must have to know the object. Lets see with an example.

In [123]:
list_11=['abcd','efgh','ijkl','mnop','qrst','uvwx','hefd','ihtv','yzt']
list_11

['abcd', 'efgh', 'ijkl', 'mnop', 'qrst', 'uvwx', 'hefd', 'ihtv', 'yzt']

In [125]:
list_11.remove() # here empty brackets are not allowesd because 'remove' needs the exact object
# In the list that you want to remove. So the code gives the type error.

TypeError: list.remove() takes exactly one argument (0 given)

In [127]:
list_11.remove('abcd') # removes 'abcd' from the list
list_11

['efgh', 'ijkl', 'mnop', 'qrst', 'uvwx', 'hefd', 'ihtv', 'yzt']

In [129]:
list_11.remove('mnop')
list_11

['efgh', 'ijkl', 'qrst', 'uvwx', 'hefd', 'ihtv', 'yzt']

In [131]:
list_11.remove('klmg') # if the object which is not in the list is given then it gives the
# 'value error' that means the value is not in the list.

ValueError: list.remove(x): x not in list

# Reversing the list

In [134]:
list_26=['ks','ew','se','he','at','vy']
list_26

['ks', 'ew', 'se', 'he', 'at', 'vy']

In [136]:
list_26.reverse() # reverse the objects of the list.
list_26

['vy', 'at', 'he', 'se', 'ew', 'ks']

In [138]:
list_26.reverse(4) # reverse() is a non argument method that means it does not need any
# argument if you give it then it will shows the 'type error'.

TypeError: list.reverse() takes no arguments (1 given)

# Count the number of occurences of itens in the list

In [141]:
list_10=['one','two','three','four','five','six','seven','eight','nine','ten']
list_10

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [143]:
list_10.count('one')

1

In [145]:
list_10.insert(0,'one')
list_10

['one',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [147]:
list_10.count('one')

2

In [149]:
list_10.insert(2,'one')
list_10

['one',
 'one',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [151]:
list_10.count('one')

3

In [152]:
list_10.insert(0,'Sweety',5) # i want to add 'Sweety' at 0th index but insert supports only two arguments
# to add 'Sweety' 5 times at 0th place we can use loops.

TypeError: insert expected 2 arguments, got 3

# Sort

list.sort().It will sort the list and the default order is accending.

In [154]:
list=[54,73,56,87,83,95,59,68]
list

[54, 73, 56, 87, 83, 95, 59, 68]

In [155]:
list.sort()
list

[54, 56, 59, 68, 73, 83, 87, 95]

In [156]:
list_1=['Sweety','Keshav','Joshi',26,11,36,23] # sorting works only for similar data types.
list_1.sort()
list_1

TypeError: '<' not supported between instances of 'int' and 'str'

In [172]:
list_1=['Sweety','Keshav','Joshi']
list_1.sort()
list_1

['Joshi', 'Keshav', 'Sweety']

In [157]:
list_1=['Sweety','Keshav','Joshi','26','11','36','23'] # here all entries are string
# therefore sorting works on it.
list_1.sort()
list_1

['11', '23', '26', '36', 'Joshi', 'Keshav', 'Sweety']

# Clear and delete the existing list.
# list.clear() removes the all elements of list.
# list.del() deletes the exising list.

In [159]:
list_1

['11', '23', '26', '36', 'Joshi', 'Keshav', 'Sweety']

In [160]:
list_1.clear()
list_1

[]

In [169]:
del list_1
list_1

NameError: name 'list_1' is not defined