# Sets
1) Sets are used to store multiple items in a single variable.
2) A set is a collection of items (strings or floats or integers) which is unordered, unchangeable, and unindexed.
3) Duplicates are not allowed in the sets.
4) sets are created by enclosing the items (strings or floats or integers) into curly brackets. { } .

In [3]:
# Let's create a set containing some strings.
a={'Sweety','Govind','Dhas','Female'}
a

{'Dhas', 'Female', 'Govind', 'Sweety'}

In [5]:
type(a)

set


# It is given that the sets does not support repeatition of values, let's see that what happens if repeat values are given to sets.

In [7]:
b={'Sweety','Govind','Dhas','Sweety','Govind','Dhas'}
print(b)
print(type(b))

{'Sweety', 'Dhas', 'Govind'}
<class 'set'>


from above example we can say that the sets not allows the repeatition of values and it is completly unorderd

In [9]:
c={0,1,2,3,4,5,False}
c

{0, 1, 2, 3, 4, 5}


In the above example it is seen that "0" and "False" are considerd as same elements so the "False" is the duplicate entry according to the set so it is removed when we print the given set. It is same for the '1' and 'True' if both the entries are given in the input the set removes the 'True' named entry. Let's see this with an example.

In [11]:
d={1,True}
d

{1}

# Checking that the item present in the given set or not

 1. To check the perticular item present in a set a (say): print("item in the set" in a).
 2. To check the perticular item not present in a set b(say): print("item in the set" in b).

In [22]:
e={'Sweety','Dhas',11,11,2000}
print(e)
print('Sweety' in e)

{2000, 'Sweety', 'Dhas', 11}
True

In [24]:
print('Sweety' not in e)

False

In [32]:
print('kkfs' in e)

False

In [40]:
print('skj' not in e)

True

# accessing the elements of set

Since set is unorderd and does not supports the indexing and slicing so we can't access directly the set elements but by using "loops" we can access the elements of the set.

In [44]:
print(e)
e[0] # it will gives the type of error because set does not supports the indexing.

{2000, 'Sweety', 'Dhas', 11}

TypeError: 'set' object is not subscriptable

# Add item

 1. Ones a set is created, you cannot change its items, but you can add new items.
 2. To add one item to a set use the add  ( ) method.

In [48]:
s={'sjidh','sdj','whs','ewjid','swk'}
print(s)
s.add("Sweety")
print(s)

{'swk', 'sdj', 'ewjid', 'whs', 'sjidh'}
{'swk', 'Sweety', 'sdj', 'ewjid', 'whs', 'sjidh'}

In [50]:
s.append('Dhas')

AttributeError: 'set' object has no attribute 'append'

# Note that the set is unorderd therfore append ( ) method dose not works for the set because append method adds the element at the end. Since there is no order so we can't add element at the end.

In [52]:
s.extend('Dhas') # set does not supports the extend like append.

AttributeError: 'set' object has no attribute 'extend'

In [54]:
s.insert('Dhas')
print(s)

AttributeError: 'set' object has no attribute 'insert'

# Add elements of a list / Tuple / set to at set 

To add list / tuple / set in the set use update ( ) method.

In [59]:
set={'Pimpalgaon','Barshi','Solapur'}
list=['Maharastra','India']
set.update(list)
print(set)

{'Maharastra', 'Barshi', 'India', 'Pimpalgaon', 'Solapur'}

In [61]:
tuple=('Sweety','Dhas')
set.update(tuple)
print(set)

{'Maharastra', 'Barshi', 'Dhas', 'India', 'Sweety', 'Pimpalgaon', 'Solapur'}

In [65]:
set2={"Student","Female"}
set.update(set2)
print(set)

{'Maharastra', 'Barshi', 'Female', 'Dhas', 'Student', 'India', 'Sweety', 'Pimpalgaon', 'Solapur'}

# Remove Set Items

 1. To remove the item from the set use the remove ( ) method.
 2. You can also use the discard ( ) method.
 3. The difference between the remove and discard method is that       if the item that we are removing by remove ( ) method is not       present in the given set it will give the error, but the           discard( ) method does not gives the error for the same            operation.

In [68]:
set

{'Barshi',
 'Dhas',
 'Female',
 'India',
 'Maharastra',
 'Pimpalgaon',
 'Solapur',
 'Student',
 'Sweety'}

In [72]:
set.remove('Female')
set

{'Barshi',
 'Dhas',
 'India',
 'Maharastra',
 'Pimpalgaon',
 'Solapur',
 'Student',
 'Sweety'}

In [76]:
set.discard('Sweety')
set

{'Barshi', 'Dhas', 'India', 'Maharastra', 'Pimpalgaon', 'Solapur', 'Student'}

In [78]:
set.remove('Sweety') # 'Sweety' is not present in the set so it gives the error.
set

KeyError: 'Sweety'

In [80]:
set.discard('Sweety') # 'Sweety' does not present in the set but discard method does not gives
#the error.
set

{'Barshi', 'Dhas', 'India', 'Maharastra', 'Pimpalgaon', 'Solapur', 'Student'}


Note: You can also use the pop() method to remove an item but this method will remove a random item, so you cannot be sure what item that gets removed.

In [82]:
print(set)
set.pop()
print(set)

{'Maharastra', 'Barshi', 'Dhas', 'Student', 'India', 'Pimpalgaon', 'Solapur'}
{'Barshi', 'Dhas', 'Student', 'India', 'Pimpalgaon', 'Solapur'}

# Remove Set Items and Deleting the set

 1. To remove the item from the set set.remove( ) method is used.
 2. To delete the set del set method is used.

In [87]:
u={26,36,11}
u.remove(11)
u

{26, 36}

In [89]:
del u
u

NameError: name 'u' is not defined

# Set Operations

 1. union ( ). It will gives the all the elements of the all the sets for which you are using union. The same elements in all the sets are taken only once.
 2. Intersection ( ). It will gives the set of common element from all the set for which you are using the intersection.
 3. Intersection_update ( ). It gives the intersection of sets and makechanges in the original set.
 4. update ( ). It adds the one set to another and it is useful for adding the tupple and lists in the set.

In [4]:
set1={'Hi','Keshav','Where are you'}
set2={'I','am','in','Pune'}
set3=set1.union(set2)
print(set3)

{'Pune', 'am', 'I', 'in', 'Keshav', 'Where are you', 'Hi'}

In [6]:
set4=set1.intersection(set2)
print(set4)

set()

In [8]:
set1.intersection_update(set2)
print(set1)

set()

In [10]:
set1 # So our set1 is now modified and it becomes the null set.

set()

In [12]:
set5={545,873,98,537}
set6={38,637,498}
set7=set5.symmetric_difference(set6)
print(set7)

{545, 98, 38, 873, 498, 537, 637}

# Note: symmetric_difference gives the all items from both sets except those that are common to both.

In [14]:
set5={635,3487,476,62783,837}
set8={3467,36287,37498,5671923,9874382,237}
set9=set5.symmetric_difference(set8)
set9

{237, 476, 635, 837, 3467, 3487, 36287, 37498, 62783, 5671923, 9874382}

# Some additional methods for the set

 1. issubset( ). Suppose 'a' and 'b' are two sets then a.issubset(b) checks whether the set a is subset of b or not.
 2. issubset( ). Suppose 'a' and 'b' are two sets then a.issuperset(b) checks whether the set 'a' is superset of 'b' or not.
 3. isdisjoint( ). Suppose 'a' and 'b' are two sets then a.isdisjoint(b) checkwhether the set 'a' and 'b' are disjoint or not. i.e. there are no common elements in 'a' and 'b'.
 4. pop( ). Remove the random element of set.

In [18]:
k={11,11,2000}
j={11,11,2000,'Sweety','Dhas'}
k.issubset(j)

True

In [20]:
j.issubset(k)

False

In [22]:
j.issuperset(k)

True

In [24]:
k.issuperset(j)

False

In [26]:
k.isdisjoint(j)

False

In [28]:
k.pop() # here the result is it's take the first two values form k
print(k)

{11}

In [32]:
del k
k

NameError: name 'k' is not defined