# Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, set, and Dictionary, all with different qualitis and usage.

A tuple is a collection which is ordered and unchangeable.

Tuple are written with round brackets.

In [2]:
a=(26,11)
print(a) 
type(a)

(26, 11)

tuple

In [3]:
b=('Sweety','Govind','Dhas',11)
print(b)
type(b)

('Sweety', 'Govind', 'Dhas', 11)

tuple

# Access Tuple Items

You can access tuple items by giving the index number, inside square brackets.

In [5]:
print(b)
b[0]

('Sweety', 'Govind', 'Dhas', 11)

'Sweety'

In [6]:
b[1]

'Govind'

In [7]:
b[2]

'Dhas'

In [8]:
b[3]

11

In [9]:
b[4]

IndexError: tuple index out of range

In [16]:
print(b)
b[0:5]

('Sweety', 'Govind', 'Dhas', 11)

('Sweety', 'Govind', 'Dhas', 11)

In [18]:
b[:]

('Sweety', 'Govind', 'Dhas', 11)

# Let's try the slicing is working or not on the tuple.

in the slicing the arguments are, tuple[starting index : ending index : step].

In [21]:
b[0:4:2]

('Sweety', 'Dhas')

In [23]:
# Let's try another example
print(a)
a[0:2:2]

(26, 11)

(26,)

# A tuple is a collection which is ordered and unchangeable.

In [26]:
k=('klmnop','dhjal','hwi','skj','sd11',361,231,26,6)
print(k)
len(k)

('klmnop', 'dhjal', 'hwi', 'skj', 'sd11', 361, 231, 26, 6)

9

In [28]:
k.append(11)

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
k.insert(0,'Keshav')

AttributeError: 'tuple' object has no attribute 'insert'

In [32]:
k.extend(range(3))

AttributeError: 'tuple' object has no attribute 'extend'


The above all errors are due to the property of 'Tuple' data type. That is the 'Tuple' is immutable that means you cannot make changes in the tuple onece it is defined. 
There is one way to make changes in tuples which is, convert the tuple into lists and make changes in the list and after changes again convert that lists into tuples.

In [34]:
print(k)
k=list(k)
print(k)

('klmnop', 'dhjal', 'hwi', 'skj', 'sd11', 361, 231, 26, 6)
['klmnop', 'dhjal', 'hwi', 'skj', 'sd11', 361, 231, 26, 6]

In [36]:
# now the tuple 'k' is converted into the list now you can make all the changes as per your
# requirement.
k.append(11)
k

['klmnop', 'dhjal', 'hwi', 'skj', 'sd11', 361, 231, 26, 6, 11]

In [38]:
k.extend(b)
k

['klmnop',
 'dhjal',
 'hwi',
 'skj',
 'sd11',
 361,
 231,
 26,
 6,
 11,
 'Sweety',
 'Govind',
 'Dhas',
 11]

In [40]:
k.extend(range(3))
k

['klmnop',
 'dhjal',
 'hwi',
 'skj',
 'sd11',
 361,
 231,
 26,
 6,
 11,
 'Sweety',
 'Govind',
 'Dhas',
 11,
 0,
 1,
 2]

now convert the list into tuple if all changes are done

In [42]:
k=tuple(k)
print(k)

('klmnop', 'dhjal', 'hwi', 'skj', 'sd11', 361, 231, 26, 6, 11, 'Sweety', 'Govind', 'Dhas', 11, 0, 1, 2)

In [44]:
type(k)

tuple

# Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple But, in Python, we are also allowed to extract the values back into variables.
This is called "Unpacking"

In [55]:
# Let's define the tuple that means we are doing packing of the values into the variable
tuple_1=("Sweety","Govind","Dhas",2.3,"Nov",422,"second",2336,11)
print(tuple_1)

('Sweety', 'Govind', 'Dhas', 2.3, 'Nov', 422, 'second', 2336, 11)

In [59]:
# Let's understand the unpacking of the tuple.
(first_name, middle_name, last_name, float, month, int_422, num, int_2336, int_11)= tuple_1

In [61]:
# calling for the first_name
print(first_name)

Sweety

In [63]:
print(middle_name)

Govind

In [65]:
print(month)

Nov

In [67]:
print(int_11)

11

# Join Two Tuples

To join two or more tuples you can use the + operator

In [71]:
print(tuple_1)
tuple_2=('poco','samsung','vivo','motorola','nokia','redmi','oppo','realme')
print(tuple_2)

('Sweety', 'Govind', 'Dhas', 2.3, 'Nov', 422, 'second', 2336, 11)
('poco', 'samsung', 'vivo', 'motorola', 'nokia', 'redmi', 'oppo', 'realme')

In [73]:
print(tuple_1+tuple_2)

('Sweety', 'Govind', 'Dhas', 2.3, 'Nov', 422, 'second', 2336, 11, 'poco', 'samsung', 'vivo', 'motorola', 'nokia', 'redmi', 'oppo', 'realme')

# Multiply Tuples

If you want to multiply the items of a tuple a given number of items, you can use the * operator.

In [76]:
# it will prints the each element of given tuple twice.
print(tuple_2*2)

('poco', 'samsung', 'vivo', 'motorola', 'nokia', 'redmi', 'oppo', 'realme', 'poco', 'samsung', 'vivo', 'motorola', 'nokia', 'redmi', 'oppo', 'realme')

# Tuple Methods

Python has two built-in methods that you can use on tuples.

  1.count(). Returns the number of times a specified value occurs in a tuple
  2.index(). Searches the tuple for a specified value and returns the position of where it was found

In [85]:
tuple_2

('poco', 'samsung', 'vivo', 'motorola', 'nokia', 'redmi', 'oppo', 'realme')

In [89]:
tuple_2.count('poco')

1

In [91]:
tuple_2.count('nokia')

1

In [93]:
tuple_2.count('skj')

0

In [95]:
tuple_2.index('vivo')

2

In [97]:
tuple_2.index('motorola')

3

In [99]:
tuple_2.clear() # tuple does not supports the clear method.

AttributeError: 'tuple' object has no attribute 'clear'

In [101]:
del tuple_2 # deleting tuple

In [103]:
tuple_2

NameError: name 'tuple_2' is not defined